<li class="d-flex gap-2">
  <%= link_to product do%>
    <% if product.cover.attached? %>
      <%= image_tag product.cover , size:"64x64" %>
    <% else %>
      <%= image_tag "no_image.png", size:"64x64" %>
    <%end%>
  <%end %>

  <span class="d-flex flex-column me-1">
    <div>
      <strong>
        Name :
      </strong>
      <%= product.name %>
    </div>
    <div>
      <strong>
        Price :
      </strong>
      $<%= product.price %>
    </div>
  </span>
</li>
