<li style="width: 220px; overflow: hidden;">
  <div class="text-center mb-1">
    <%= link_to product, data: {turbo: false} do %>
      <%= render 'products/product_image', product: product %>
    <%end %>
  </div>

  <div class="py-2" style="height: 42px; overflow: hidden; box-sizing: content-box;">
    <strong>
      Name :
    </strong>
    <span><%= product.name %></span>
  </div>
  <div>
    <% if product.sale_price? %>
      <strong>Old Price: </strong>
      <span style="text-decoration: line-through;color: red;"><%= product.price %> $</span>
      <br>
      <strong>
        Sale Price :
      </strong>
      <span><%= product.sale_price %> $</span>
    <% else %>
      <strong>
        Price :
      </strong>
      <span><%= product.price %> $</span>
      <div style="height: 20px;"></div>
    <% end %>
  </div>

  <section class="d-flex w-100 align-items-center">
    <% if product.quantity > 0 %>
      <%= button_to line_items_path(:product_id => product.id, ), class: "btn btn-warning" , style: "width: 100%;", params: { product_id: product.id } do %>
        <i class="glyphicon glyphicon-plus" style="color:black;"></i>
        <span>Add to Cart</span>
      <% end %>
    <% else %>
      <div class="alert alert-danger" style="width: 100%; text-align: center;">
        <strong>Out of Stock</strong>
      </div>
    <% end %>
    <% if user_signed_in? && current_user.is_like_product(product) %>
      <%= button_to product_like_destroy_path(product), method: :delete, style: "background-color: inherit; font-size: 18px;" do %>
        <i class="bi bi-heart-fill liked" style="cursor: pointer;color: #6a8a8a"></i>
      <% end %>
    <% else %>
      <%= button_to product_like_path(product), style: "background-color: inherit; font-size: 18px;" do %>
        <i class="bi bi-heart" style="cursor: pointer;color: #6a8a8a"></i>
      <% end %>
    <% end %>
  </section>

  <div>
    <!-- Only Admin is allowed to modify products -->
    <% if user_signed_in? && current_user.admin? %>
      <%= render "products/action", product: product %>
    <% end %>
  </div>

</li>
