<li>
  <%= link_to product do %>
    <%= render 'products/product_image', product: product %>
  <%end %>

  <div class="mt-2">
    <strong>
      Name :
    </strong>
    <%= product.name %>
  </div>
  <div>
    <% if product.sale_price? %>
      <strong>Old Price: </strong>
      <span style="text-decoration: line-through;color: red;"><%= product.price %> $</span>
      <br>
      <strong>
        Sale Price :
      </strong>
      <span><%= product.sale_price %> $</span>
    <% else %>
      <strong>
        Price :
      </strong>
      <span><%= product.price %> $</span>
      <div style="height: 20px;"></div>
    <% end %>
  </div>

  <section>
    <% if product.quantity > 0 %>
      <%= button_to line_items_path(:product_id => product.id, ), class: "btn btn-warning" , style: "margin-top:15px; width: 100%;", params: { product_id: product.id } do %>
        <i class="glyphicon glyphicon-plus" style="color:black;"></i>
        <span>Add to Cart</span>
      <% end %>
    <% else %>
      <div class="alert alert-danger" style="margin-top:15px; width: 100%; text-align: center;">
        <strong>Out of Stock</strong>
      </div>
    <% end %>
  </section>

  <div>
    <!-- Only Admin is allowed to modify products -->
    <% if user_signed_in? && current_user.admin? %>
      <%= render "products/action", product: product %>
    <% end %>
  </div>

</li>
