<%= render 'order2', :order => @order %>

<div class="center jumbotron">
  <%= form_for(@order) do |f| %>
    <div class="form-outline mb-4">
      <%= f.label :description, 'Address', class: "form-label" %><span class="text-danger"> *</span>
      <%= f.text_field :description , required: true, class: "form-control w-50" %>
    </div>

    <div class="form-outline mb-4">
      <%= f.label :pay_method, 'Payment method', class: "form-label" %><span class="text-danger"> *</span>
      <%= f.select :pay_method, [['Cash on Delivery', 'COD']], { require: true}, {:class => "form-select w-50"} %>
    </div>

  <% end %>

  <div>
    <h3>Total price:
    <%= number_to_currency(@order.sub_total, locale: :jp) %></h3>
  </div>

  <button type="button" class="btn btn-success" data-toggle="collapse" aria-expanded="true" data-target="#<%= @order.id %>">Show/Hide Items</button>
  <div id="<%= @order.id %>" class="collapse in">
    <ul class="users">
      <% @order.line_items.each do |item| %>
        <%= item.quantity %>
        x
        <%= render 'shared/order_product' , product:item.product%>
      <% end %>
      <br/>
    </ul>
  </div>
</div>
