<% content_for :title, "New order" %>

<div class="container">
  <h2 class="mb-3">New Order</h2>

  <div class="center jumbotron">
    <%= form_for(@order) do |f| %>
    <% if @order.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@order.errors.count, "error") %>
          prohibited this order from being saved:</h2>
        <ul>
          <% @order.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <div class="form-outline mb-4">
      <%= f.label :description, 'Address', class: "form-label" %><span class="text-danger"> *</span>
      <%= f.text_field :description , required: true, class: "form-control w-50" %>
    </div>

    <div class="form-outline mb-4">
      <%= f.label :pay_method, 'Payment method', class: "form-label" %><span class="text-danger"> *</span>
      <%= f.select :pay_method, [['Cash on Delivery', 'COD']], { require: true}, {:class => "form-select w-50"} %>
    </div>

    <div class="actions">
      <%= f.submit 'Create order', class: "btn btn-primary btn-block mb-4 w-50" %>
    </div>

    <%= render 'shared/cart2' , :cart => @cart %>
    <% end %>
  </div>

</div>
