<span>
  <%= link_to product, data: {turbo: false} do%>
    <% if product.cover.attached? %>
      <%= image_tag product.cover , size:"100x100", style: "border-radius: 4px; margin-right: 16px;"%>
    <% else %>
      <%= image_tag "no_image.png", size:"100x100", style: "margin-right: 16px;" %>
    <%end%>
  <%end %>

  <strong>
    Name :
  </strong>
  <%= product.name %>
  ,<strong>
    Price :
  </strong>
  <% if product.sale_price? %>
    <%= number_to_currency(product.sale_price, locale: :jp) %>
  <% else %>
    <%= number_to_currency(product.price, locale: :jp) %>
  <% end %>

  <p>

    <!-- Only Admin is allowed to modify products -->
    <% if user_signed_in? && current_user.admin? %>
      <%= render 'products/action', product: product %>
    <% end %>

  </p>
</li>
