<% content_for :title, "Home" %>

<% if !notice.to_s.empty? %>
  <p id="notice" class="alert alert-info"><%= notice %></p>
<% end %>

<div class="center jumbotron">
  <!-- Only Admin is allowed to create new products -->
  <% if user_signed_in? && current_user.admin? %>
    <%= link_to new_product_path , class: "btn btn-success" , style: "margin-top:15px;" do %>
      <i class="glyphicon glyphicon-plus" style="color:black;"></i>
      <span>Create New Product (Admin)</span>
    <%end %>
  <% end %>
</div>

<h3 style="margin-left: 24px; margin-top: 24px;">
  <% if params[:search].blank? %>
    All Products (<%= @products.count %>)
  <%else %>
    Found
    <%= pluralize(@products.count, " product") %>
  <%end %>
</h3>

<%= render 'shared/products' %>
